<div id="form" ng-controller="FormController as form">
	<div class="container">
	<div layout="column" class="container md-whiteframe-z1">
	  <md-content class="md-padding">
	    <%= simple_form_for @form do |f| %>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <%= f.input :first_hackathon, :as => :radio_buttons, :label => "Is This Your First Hackathon?" %>
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	      		<label>Tell Us about Your Favorite Project You've Worked on.</label>
	          <%= f.text_area :project %>
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	      <md-input-container flex>
	        <label>How Did You Hear About Us?</label>
	        <%= f.text_area :how_did_you_hear_about_us %>
	      </md-input-container>
	  	</div>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>What Sponsor Do You Want to See the Most?</label>
  			<%= f.text_area :sponsor_you_want_to_see %>
	        </md-input-container>
	    </div>
	    <div layout layout-sm="column">
	        <md-input-container flex>
	          <%= f.input :shirt_size, collection: ["S", "M", "L", "XL"], :label => "What's Your Shirt Size?" %>
	        </md-input-container>
	    </div>
	    <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>Do You Have Any Dietary Restrictions?</label>
	          <%= f.input :dietary_restrictions, :label => false %>
	        </md-input-container>
	      </div>
	      <h3>Team</h3>
	     	    <div layout layout-sm="column">
	   	<%= f.simple_fields_for :teams do |t| %>
	      	<md-input-container flex>

	          <label>Teammate 1</label>
	          <%= t.input_field :teammate, name:"teammates[]" %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 2</label>
	          <%= t.input_field :teammate, name: "teammates[]" %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 3</label>
	          <%= t.input_field :teammate, name: "teammates[]" %>
	        </md-input-container>
	      </div>
	    <% end %>

	    <div layout layout-sm="column">
	    	<h3>Code of Conduct</h3>
	    	<p>Please Read the <a href="#">Code of Conduct</a></p>
	          <label>I have Read the Code of Conduct</label>
	          <%= f.input :code_of_conduct_read, :as => :radio_buttons %>
	        </md-input-container>
	    </div>
	      	
	    </md-content>
	</div>
		    	<%= f.button :submit %>

	<% end %>
</div>
		      	 <%= search_form_for @q do |f| %>
	      	 	<%= f.label :email_cont %>
	<input name="q" type="text" ng-model="form.q" ng-keypress="findUsers(form.q)">
  <%= f.submit remote: true  %>
<% end %>