<div id="form" ng-controller="FormController as form">
<form name="formForm" novalidate>
<!-- 
  <input name="authenticity_token" ng-model="profile.authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
-->  
<h2>{{submitted}}</h2>



	<div layout="column">
	  <md-content class="md-padding">
	    <%= simple_form_for @form do |f| %>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>Is This Your First Hackathon?</label>
	          <%= f.input :first_hackathon, :as => :radio_buttons %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Tell Us About Your Favorite Project You Have Worked on.</label>
	          <%= f.input_field :project %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Why Hack Arizona?</label>
	          <%= f.input_field :why %>
	        </md-input-container>
	      </div>
	      <md-input-container flex>
	        <label>How Did You Hear About Us?</label>
	        <%= f.input_field :how_did_you_hear_about_us %>
	      </md-input-container>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>What Sponsor Do You Want to See the Most?</label>
  			<%= f.input_field :sponsor_you_want_to_see %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>What Size Shirt Do You Need?</label>
	          <%= f.input :shirt_size, collection: ["S", "M", "L", "XL"] %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Do You Have Any Dietary Restrictions?</label>
	          <%= f.input :dietary_restrictions %>
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	      	      	<p>Add your Team</p>
	   	<%= f.simple_fields_for :teams do |t| %>
	      	<md-input-container flex>

	          <label>Teammate 1</label>
	          <%= t.input_field :teammate %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 2</label>
	          <%= t.input_field :teammate %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 3</label>
	          <%= t.input_field :teammate %>
	        </md-input-container>
	      </div>
	    <% end %>
	      
	    </md-content>
	    	<%= f.button :submit, class: "md-raised md-primary" %> 
	    	<md-button class="md-raised md-primary" ng-click="save(form);showActionToast()">Submit</md-button>
	  </form>
	</div>
	<% end %>
		      	 <%= search_form_for @q do |f| %>
	      	 	<%= f.label :email_cont %>
	<input name="q" type="text" ng-model="form.q" ng-keypress="findUsers(form.q)">
  <%= f.submit remote: true  %>
<% end %>