<div id="form" ng-controller="FormController as form">
	<div class="container">
	<div layout="column" class="container md-whiteframe-z1">
	<br>
	  <md-content class="md-padding">
	    <%= simple_form_for @form do |f| %>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	      	<%= f.input :first_hackathon, collection: [["No", false], ["Yes", true]], :label => "Is This Your First Hackathon?" %>
	        </md-input-container>
	      </div>
	      <md-divider></md-divider><br>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	      		<label>Tell Us about Your Favorite Project You've Worked on.</label>
	          <%= f.text_area :project %>
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	      <md-input-container flex>
	        <label>How Did You Hear About Us?</label>
	        <%= f.text_area :how_did_you_hear_about_us %>
	      </md-input-container>
	  	</div>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>What Sponsor Do You Want to See the Most?</label>
  			<%= f.text_area :sponsor_you_want_to_see %>
	        </md-input-container>
	    </div>
	    <div layout layout-sm="column">
	        <md-input-container flex>
	          <%= f.input :shirt_size, collection: [["Small", "S"], ["Medium", "M"], ["Large", "L"], ["Extra Large", "XL"]], :label => "What's Your Shirt Size?" %>
	        </md-input-container>
	    </div>
	    <md-divider></md-divider><br>
	     <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>Do You Have Any Dietary Restrictions?</label>
  			<%= f.text_area :dietary_restrictions %>
	        </md-input-container>
	    </div>

	    <div layout layout-sm="column">
	      <md-input-container flex>
	          <label>Interests</label>
	          <%= f.input_field :interests %>
	        </md-input-container>
	    </div>

	      <h3>Team</h3>
	     <div layout layout-sm="column">
	   		<%= f.simple_fields_for :teams do |t| %>
	      	<md-input-container flex>

	          <label>Teammate 1</label>
	          <%= t.input_field :teammate, name:"teammates[]", "type" => "email" %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 2</label>
	          <%= t.input_field :teammate, name: "teammates[]" %>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Teammate 3</label>
	          <%= t.input_field :teammate, name: "teammates[]" %>
	        </md-input-container>
	      </div>
	    <% end %>

	    	<h3>Code of Conduct</h3>
	    	<p>Please Read the <a href="http://hackcodeofconduct.org/" target="_blank">Code of Conduct</a></p>
	          <%= f.input :code_of_conduct_read, :as => :boolean, :label => "I have Read the Code of Conduct" %>
	        </md-input-container>
	        <br>
	      	
	    </md-content>
	</div>
    <br><button class="md-raised md-button"><span class="ng-scope">Apply</span></button>
	<% end %>
</div>