<!DOCTYPE html>
<html ng-app="cactus">
<head>
  <title>Cactus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="DashboardController as dashboard">
<header>
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <h3>
                <span>Cactus</span>
            </h3>
            <div>

        </div>
        </div>

    </md-toolbar>
</header>
<md-tabs class="md-accent">
<%= nav_link raw('<md-tab>Profile</md-tab>'), profile_path %>
<%= nav_link raw('<md-tab>Application</md-tab>'), new_submission_path %>
<%= nav_link raw('<md-tab>Team</md-tab>'), profile_path %>
</md-tabs>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Your Account</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" class="md-padding">
  <ul style="list-style:none">
    <li><md-button class='md-primary'>Profile</md-button></li>
    <li><md-button class='md-primary'>Help</md-button></li>
    <li><%= link_to ("<md-button ng-click='close()' class='md-primary'>Logout</md-button>").html_safe, logout_path, class: 'md-primary' %></li>
  </ul>
  </md-content>
</md-sidenav>
</section>
</div>
<br><br>
<%= yield %>
<br><br>
</body>
</html>