<!DOCTYPE html>
<html ng-app="hacktus">
<head>
  <title>HactusApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
  <link rel="stylesheet" href="//rawgit.com/angular/bower-material/master/angular-material.css">
</head>
<body ng-controller="DashboardController as dashboard">
<header>
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <h3>
                <span>Hack Arizona</span>
            </h3>
            <div>
          <md-button ng-click="toggleRight()" class="md-primary">
            Account
          </md-button>
        </div>
        </div>

    </md-toolbar>
</header>

<<<<<<< HEAD
<md-tabs class="md-accent">
  <md-tab>
    Profile
  </md-tab>
  <md-tab>
    Application
  </md-tab>
  <md-tab>
    Teams
  </md-tab>
</md-tabs>
=======
<md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        New application
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
        View Application Status
      </md-tab>
      <md-tab id="tab3" aria-controls="tab2-content" ng-disabled="data.secondLocked">
        Team
      </md-tab>
    </md-tabs>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Your Account</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" class="md-padding">
      <ul style="list-style:none">
        <li><%= link_to "Logout", logout_path(@user), class: 'md-primary'%></li>
          Logout
        </md-button></li>
        <li><md-button ng-click="close()" class="md-primary">
          Help
        </md-button></li>
        <li><md-button ng-click="close()" class="md-primary">
          Contact
        </md-button></li>
      </ul>
      </md-content>
    </md-sidenav>
  </section>
</div>

>>>>>>> 4dd158acf7e0557ad7af3cbd37a0570889357591
<%= yield %>

<!-- Angular Material Dependencies -->
<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>

<!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
<script src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>
</body>
</html>